body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#color-text {
  width: 223px;
  height: 57px;
  border: none;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}
